.wrapper{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;


    
    width: 70%;
    height: 90vh;
    margin: 0px auto;
    background-color: #fffef4;
}


.bayan{
    
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
  
    width: 80%;
    height: 90%;
    cursor: pointer;
}
.bayan:hover{
    color: #000000;
}
h1{
    display: block;
    cursor: pointer;
}

h1:hover{
    color: #000000;
}

.conteiner{
    display: block;
    width: 100%;
}

.li_conteiner{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    font-weight: 900;
    font-size: 1.3em;
    
    cursor: pointer;
    color: #416fec;
    border-top: 3px solid #CCCCCC;

}

.li_conteiner:hover {
    color: #000000;
    transition: color 2s ease-out;

}


.mem_conteiner{
    
    display: none;
    background-color: #CCCCCC;
    color: #fffef4;
    cursor: pointer;
    width: 100%;
}


    

.mem_conteiner:hover{
   
    display: block;

}

.mem{
    margin: 0% 30%;
}


.pluss{
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.pluss:hover{
    transform: rotate(45deg);
}
