.wrapper{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    
    width: 70%;
    height: 100%;
    margin: 0px 200px auto;
    background-color: #fffef4;
}

.bayan{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: 90%;
    cursor: pointer;
}
.bayan:hover{
    color: #000000;
}
h1{
    display: block;
    border: 2px solid #000000;
    cursor: pointer;
}

h1:hover{
    color: #000000;
}
.li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 8vh;
    font-weight: 900;
    font-size: 1.3em;
    
    cursor: pointer;
    color: #416fec;
    border-top: 3px solid #CCCCCC;

}

.li:hover {
    color: #000000;
    /*background-image: url("assets/image1.svg");
    background-position: top;
    background-size: 500% 700%;*/

}

.mem_conteiner{
    display: block;
    background-color: #CCCCCC;
    color: #fffef4;
    cursor: pointer;
    width: 100%;
}


    

.mem_conteiner:hover{
    
    
}

.mem{
    margin: 0% 30%;
}


.pluss{
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.pluss:hover{
    transform: rotate(45deg);
}



.hidden{
    display: none;
}

.unhidden{
    display: none;
}

.cross2{
    display: none;
}

#one{
    overflow: visible;
}